extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Howdy, #{userProfile.nickname}!
        div.Message
            div.Title
                h3 New Category
            
            input#title.form-control(type='text', name='title', placeholder='category name')
            br
            textarea#content.form-control(name='description', rows='5', cols='20', placeholder='category description')
            br
            button#create.btn.btn-primary(type="submit" name="submit") create
                    
        div.NavButtons
            a(href="/logout")
                div.NavButton Log out
                
    
    script.
        $(function(){
            $("#create").click(function(){
                var t = $("#title").val();
                var d = $("#description").val();
                //General validation needed
                if (t == "") {
                    $("#create").attr("class","btn btn-danger") ;
                    $("#create").html("Title can not be empty");
                    $("#title").css("background-color","pink");
                }
                else{
                    var page = "/forum/createCategory";
                    $.post(
                    page,
                    {title: t, description: d},
                    function(result){
                        $("#create").attr("class","btn btn-success") ;
                        $("#create").html("success!") ;
                        $("#title").css("background-color","white");
                    });
                }    
            });
        });
        
