block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Magic Forum
    script(src='../jquery.min.js')
    link#bootstrap-css-css(rel="stylesheet" href="../css/bootstrap5152.css?ver=1.0" type="text/css" media="all")
    link#responsive-css-css(rel="stylesheet" href="../css/responsive5152.css?ver=1.0" type="text/css" media="all")
    link#main-css-css(rel="stylesheet" href="../css/main5152.css?ver=1.0" type="text/css" media="all")
  body
    block layout-header
      .header-wrapper
        header
          .container
            .logo-container
              a(href="/" title="Home")
                img(src="../logo.svg" width="32" height="32" alt="")
              span.tag-line Magic Forum
            nav.main-nav
              .menu-top-menu-container
                ul#menu-top-menu.clearfix
                  li
                    a(href="/") Home
                  li
                    a(href="/forum/loadUser?id="+userProfile.id) Account
                  li
                    a(href="/users/listUsers") List Users
                  li
                    a(href="/logout") Log out
    block layout-content
