block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    title #{title} | Magic Forum
    script(src='../jquery.min.js')
    script(src='../scripts/main.js')
    link#bootstrap-css-css(rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all")
    link#responsive-css-css(rel="stylesheet" href="/css/responsive.css" type="text/css" media="all")
    link#main-css-css(rel="stylesheet" href="/css/main.css" type="text/css" media="all")
  body
    block layout-header
      .header-wrapper
        header
          .container
            .logo-container
              a(href="/" title="Home")
                img(src="../logo.svg" width="32" height="32" alt="")
              span.tag-line Magic Forum
            nav.main-nav
              .menu-top-menu-container
                ul#menu-top-menu.clearfix
                  li
                    a(href="/") Home
                  li
                    a(href="/forum/loadUser?id="+userProfile.id) Account
                  li
                    a(href="/users/listUsers") List Users
                  li
                    a(href="/logout") Log out
    block layout-content
    block layout-footer
      a(href="#top" id="scroll-top" style="display: inline;") 
      #footer-bottom-wrapper
        #footer-bottom.container
          .logo-container
            a(href="/" title="Home")
              img(src="../logo2.svg" width="32" height="32" alt="")
            span.tag-line Magic Forum 2020 | Jonah Lyu & Aaron Robey

